<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
</head>
<body>

<form th:method="POST" th:action="@{/auth/registration}" th:object="${user}">
  <label for= "username">Введите логин пользователя:</label>
  <input type="text" th:field="*{login}" id="username"/>
  <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login Error</div>
  <br/>
  <label for= "password">Введите пароль пользователя:</label>
  <input type="password" th:field="*{password}" id="password"/>
  <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
  <br/>
  <input type="submit" value="Sign up!"/>
</form>

</body>
</html>