<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление читателя</title>
</head>
<body>
<h1>Добавление читателя</h1>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="FIO">Введите ФИО читателя: </label>
    <input type="text" th:field="*{FIO}" id="FIO"/>
    <div style="color:red" th:if="${#fields.hasErrors('FIO')}" th:errors="*{FIO}">Некорректное ФИО читателя</div>
    <br/>
    <label for="year">Введите год рождения читателя: </label>
    <input type="number" th:field="*{year}" id="year"/>
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Некорректный год рождения читателя</div>
    <br/>
    <input type="submit" value="Создать!"/>
    <br/>
</form>

</body>
</html>